@model Horoscope
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="desc1">
    <p>Ваш гороскоп на сегодня</p>
</div>
<div class="desc">

    <p> @Model.Description </p>

</div>
<div class="telegram">
    <p>Если хочешь получать предсказание в Telegram подписывайся на нашего Бота</p>
    <a href="https://t.me/HoroscopeForApplicationBot" target="_blank" class=""><input class="subinput" type="submit" value="Подписаться" /></a>
</div>

    